<!DOCTYPE html>
<html>
<link href="~/css/boots.css" rel="stylesheet" />
<link href="~/css/bootmin.css" rel="stylesheet" />
<head>
    <title>Dashboard</title>
</head>
<body>
    <div class="row">
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-2" style="height:900px; border: 1px solid black; background-color: gray">
            <div class="list-group">
                <div class="list-group-item">
                    @Html.ActionLink("Add_Category", "Add_Category", null, new { @class = "list-group-item" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Add_Questions", "Add_Questions", null, new { @class = "list-group-item" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("Reports", "Dashboard", null, new { @class = "list-group-item" })
                </div>
                <div class="list-group-item">
                    @Html.ActionLink("LogOut", "LogOut", null, new { @class = "list-group-item" })
                </div>
            </div>
        </div>
        <div class="col-lg-10 col-md-10 col-sm-10 col-xs-10" style="height:900px; border: 1px solid gray">
            @RenderBody()
        </div>
    </div>
</body>
</html>
